<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand text-light"><b>Shoppintg Web</b></a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
          href="" data-toggle="dropdown">จัดการสินค้า</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/manage">ลบ/แก้ไข</a>
            <a class="dropdown-item" href="/add-product">บันทึก</a>
          </div>
        </li>
    </ul>
</nav>